<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>

		<add name="IBServer"
            connectionString="data source=localhost;dialect=3;character set=WIN1252;initial catalog=C:\Data\MASTSQL.GDB;user id=sysdba;Password=masterkey;server type=0"
			providerName="InterBaseSql.Data.InterBaseClient" />

		<add name="IBToGo"
            connectionString="data source=local;dialect=3;character set=WIN1252;initial catalog=C:\Data\MASTSQL.GDB;user id=sysdba;Password=masterkey;server type=1"
			providerName="InterBaseSql.Data.InterBaseClient" />

	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>